extends layout

block content
  div.row-fluid
    div.span6(style='margin-left: 10px')
      h1 chat test (rabbit + redis)

      form.form-inline(method: 'post')
        input.input-xlarge#message(type = 'text', name = 'message', size = '70')
        input.btn.btn-info#talkButton(type="button", value="Talk!", style="margin-left:5px")

  div.row-fluid
    div.span3.alert#result(style='margin-left: 10px; display: none')
  script
    $(document).ready(function(){
      $("#talkButton").click(function() {
        message = $("#message").val().trim();
        if(message.length > 0){
          $.ajax({
            type: "POST",
            url: "/talk",
            data: "message=" + message
          }).done(function(json){
            $("#result").empty();
            json.messages.forEach(function(message){
              $("#result").append(message+'<br>');
            });
            $("#result").fadeIn("slow");
          });
        }
      });
    });

